---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
---
